* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    margin: 2rem;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.title {
    display: inline-block;
}

.nav-ul {
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 2rem;
    letter-spacing: 2px;
}

.nav-ul > li:hover {
    border-bottom: 2px solid red;
}

.active {
    color: #000;
}

.account-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem;
    padding: 1rem;
    background-color: black;
    color: white;
}

.account-details {
    display: flex;
    gap: 2rem;
    letter-spacing: 1px;
}

.transaction {
    margin: 2rem;
    padding: 1rem;
}

.transaction-title {
    margin-bottom: 1rem;
}

.transaction-li {
    list-style-type: none;
}

.row {
    background-color: rgba(0, 0, 255, 0.5);
    padding: 2rem;
    color: #fff;
    display: flex;
    margin: 1rem 0;
    border-radius: 1rem;
    justify-content: space-between;
}

.form {
    margin: 2rem;
    background: rgba(0, 0, 255, 0.5);
    color: #fff;
    font-size: 1.2rem;
    padding: 1.5rem;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all 0.2s ease-in-out;
}

.form-input {
    width: 200px;
    padding: 1em;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #555;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-text {
    padding: 1rem 0;
}

.button {
    background-color: rgba(255, 13, 0, 0.5);
    color: #fff;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.form-button {
    padding: 1em;
    background-color: rgba(0, 0, 255, 0.5);
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 2rem;
    cursor: pointer;
}

.footer {
    margin: 3rem;
    text-align: center;
}

.log-in {
    padding: 2rem;
}

.log-in h2,
.log-in label {
    padding: 2rem;
}

.log-in label {
    font-size: 1.5rem;
}
